<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WiFi Billboard</title>
    <style>
        body{
            background-color: #ffffe6;
            color: #4d2600;
            width: 100vw;
            margin: 0;
        }
        .container{
            width: calc(100% - 4em);
            margin: 0 auto;
            padding: 2em;
            word-wrap: break-word;
        }
        #message{
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <div class="container">
        <p id="message">{{message}}</p>
    </div>
</body>
</html>