<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WiFi Billboard</title>
    <link href="{{ url_for('static', path='/index.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form method="POST" id="msg_form" action="" >
            <textarea id="message" name="message" rows="4" cols="50" placeholder="Ask away..." autofocus></textarea>
            <br>
            <input type="submit" value="Message" onclick="post_message();">
            <input type="submit" value="Question" onclick="ask_question();">
        </form>
        <p><b>M:</b> {{ message }}</p>
        <p><b>Q:</b> {{ question }}</p>
        <p><b>A:</b> {{ answer }}</p>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', path='/index.js') }}"></script>
</html>